@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 1.5rem;
}

.columns {
    /* right now, as we shrink the page, the columns start to behave wierdly, which we don't want.*/
    /* column-count: 4; */
    /* with this attribute however, there is a sort of minimum width suggestion for the page */
    /* once the page cannot fit all the columns at a width of 250px, it collapses them to be only 3 columns, then so on */
    /* otherwise the columns will fill out the available space in the container*/
    /* column-width: 250px; */
    columns: 4 250px; /* shorthand property */
    column-rule: 3px solid #333; /* ruling between the columns, border is added by a separate property */
    column-gap: 3rem; /* adds a gap between the columns. it is not accounted for twice, works properly as it is. */
    background-color: cadetblue;
    border: 3px solid black;
}

.columns p {
    margin-top: 0; /* stops the first paragraph from having a top margin. the other ones work because the top and bottom margins would overlap eachother otherwise, so it is fine to remove the top margin from all of them. */
}

.columns h2 {
    margin-top: 0;
    background-color: #333;
    color: white;
    padding: 1rem;
}